#ignore this file#
CMakeLists.txt.user
Examples/Monocular/mono_euroc
Examples/Monocular/mono_kitti
Examples/Monocular/mono_tum
Examples/RGB-D/rgbd_tum
Examples/ROS/ORB_SLAM2/CMakeLists.txt.user
Examples/ROS/ORB_SLAM2/Mono
Examples/ROS/ORB_SLAM2/MonoAR
Examples/ROS/ORB_SLAM2/RGBD
Examples/ROS/ORB_SLAM2/Stereo
Examples/ROS/ORB_SLAM2/build/
Examples/Stereo/stereo_euroc
Examples/Stereo/stereo_kitti
KeyFrameTrajectory.txt
CameraTrajectory.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt

build/
cmake-build-debug/
develop/
test_tracking/
test_Traj/
.vscode/
.idea/
weights/*.torchscript
libtorch/bin/
libtorch/include/
libtorch/lib/
libtorch/share/
libtorch/build-hash
libtorch/build-version
lib/libORB_SLAM2.so

TensorRT-8.4.0.6/bin/
TensorRT-8.4.0.6/data/
TensorRT-8.4.0.6/doc/
TensorRT-8.4.0.6/graphsurgeon/
TensorRT-8.4.0.6/include/
TensorRT-8.4.0.6/lib/
TensorRT-8.4.0.6/onnx_graphsurgeon/
TensorRT-8.4.0.6/python/
TensorRT-8.4.0.6/samples/
TensorRT-8.4.0.6/targets/
TensorRT-8.4.0.6/uff/
